:root {
  --main-color: #22376f;
  --secondary-color: #53619e;
  --active-color: #e1e1e1;
  --shadow: rgba(0, 0, 0, 0.2);
}

* {
  font-family: Arial, Helvetica, sans-serif;
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  hyphens: auto;
  max-width: 100%;
  font-weight: bold;
}

header {
  display: inline-block;
  background-color: var(--main-color);
  color: white;
  width: 100vw;
  text-align: center;
  position: sticky;
  top: 0px;
  cursor: default;
  z-index: 2;
}

#ueberschrift {
  padding: 12px 0px;
}

main {
  margin: 20px;
}

.info-container {
  height: 30px;
  margin: auto;
  margin-bottom: 20px;
  text-align: center;
}

.info-container .meldung {
  transition: 1s;
  border: 1px solid #b1b1b1;
  color: #b1b1b1;
  display: inline-block;
  padding: 5px;
  border-radius: 10px;
  visibility: hidden;
}

#elemente {
  background-color: #f1f1f1;
  max-width: 700px;
  margin: auto;
  padding: 15px;
  border-radius: 10px;
}

.listenelement ul {
  /* display: inline-block; */
  /* border-radius: 10px; */
  /* border-bottom: 1px solid black; */
  width: 100%;
  margin-top: 20px;
  /* padding: 8px 5px 0px 10px; */
}

.listenelement ul li {
  list-style: none;
  text-align: center;
  cursor: pointer;
  margin: 0px;
}

.listenelement ul li a {
  text-decoration: none;
}

.elementuebersicht {
  border-radius: 10px;
  display: grid;
  grid-template-columns: 15% 70% 15%;
  grid-template-rows: auto;
  grid-template-areas: "left middle right";
  align-content: center;
  padding: 10px 5px;
  background-color: #e9e9e9;
}

.pfeil {
  grid-area: left;
  transition: 0.3s ease-out;
}

.pfeil-container {
  cursor: pointer;
}

.eintragsname {
  padding-top: 6px;
  overflow: hidden;
  grid-area: middle;
}

.eintrag-entfernen {
  grid-area: right;
  background-color: darkred;
  text-align: center;
  outline: none;
  /* width: 10%; */
  border-radius: 10px;
  padding: 5px 10px;
}

@media screen and (max-width: 600px) {
  .elementuebersicht {
    grid-template-columns: 25% 50% 25%;
  }
}

@media screen and (max-width: 400px) {
  .elementuebersicht {
    grid-template-columns: 10% 55% 35%;
  }
}

.eintrag-entfernen a {
  color: white;
}

.aktiv,
ul:hover {
  background-color: var(--active-color);
  transition: 0.2s;
}

.aktiv {
  border-radius: 10px 10px 0px 0px;
  transition: 0.2s;
}
.speichern-button:hover,
.hinzufuegen:hover {
  transition: 0.2;
  box-shadow: 0 8px 16px 0 var(--shadow);
}

#element-hinzufuegen {
  margin-top: 20px;
}

.speichern-button,
.hinzufuegen {
  display: block;
  margin: auto;
  padding: 12px 10px;
  color: white;
  background-color: darkgreen;
  cursor: pointer;
  outline: none;
  border: none;
  border-radius: 10px;
}

.formular {
  max-height: 0px;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  border-radius: 0px 0px 10px 10px;
  width: 100%;

  background-color: var(--active-color);
}

.formular-gruppe {
  /* background-color: #f1f1f1; */
  padding: 5px 20px;
}

.formular-gruppe label {
  display: inline-block;
  width: 150px;
}

.formular-gruppe input {
  appearance: textfield;
}

.formular-gruppe input::-webkit-outer-spin-button,
.formular-gruppe input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
