:root {
  --main-color: #22376f;
  --secondary-color: #53619e;
  --shadow: rgba(0, 0, 0, 0.2);
}

* {
  font-family: Arial, Helvetica, sans-serif;
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  hyphens: auto;
  max-width: 100%;
  font-weight: bold;
}

header {
  display: inline-block;
  background-color: var(--main-color);
  color: white;
  width: 100vw;
  text-align: center;
  position: sticky;
  top: 0px;
  cursor: default;
}

#ueberschrift {
  padding: 12px 0px;
}

#svg {
  filter: invert(100%) sepia(5%) saturate(22%) hue-rotate(217deg)
    brightness(106%) contrast(100%);
  cursor: pointer;
}

main {
  margin: 20px;
}

.listenelement ul {
  display: inline-block;
  border-bottom: 1px solid black;
  width: 100%;
  padding: 8px 5px 2px 10px;
}

.listenelement ul li {
  list-style: none;
  text-align: center;
  cursor: pointer;
}

.listenelement ul li a {
  text-decoration: none;
  float:left;
}

.pfeil{
  float:left;
  transition: 0.3s ease-out;
}

.eintragsname {
 
}

.eintrag-entfernen {
  background-color: darkred;
  float: right;
  width: 10%;
  border-radius: 10px;
  padding: 0px 5px;
}

@media screen and (max-width: 720px) {
  .eintragsname {
    width: 80%;
  }
  .eintrag-entfernen {
    width: 20%;
  }
}

.eintrag-entfernen a {
  color: white;
}

a:hover,
#element-hinzufuegen .hinzufuegen:hover {
  transition: 0.3s;
  box-shadow: 0 8px 16px 0 var(--shadow);
}

#element-hinzufuegen {
  margin-top: 20px;
}

#element-hinzufuegen .hinzufuegen {
  display: block;
  margin: auto;
  padding: 12px 10px;
  color: white;
  background-color: darkgreen;
  cursor: pointer;
  outline: none;
  border: none;
  border-radius: 10px;
}

.formular {
  max-height: 0px;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  width: 100%;
}

.formular-gruppe{
  background-color: lightgray;
  padding: 5px 20px;
}

.formular-gruppe input {
  appearance: textfield;
}

.formular-gruppe input::-webkit-outer-spin-button,
.formular-gruppe input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}