:root {
  --main-color: #22376f;
  --secondary-color: #53619e;
  --shadow: rgba(0, 0, 0, 0.2);
}

* {
  font-family: Arial, Helvetica, sans-serif;
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  hyphens: auto;
  max-width: 100%;
  font-weight: bold;
}

header {
  display: inline-block;
  background-color: var(--main-color);
  color: white;
  width: 100vw;
  text-align: center;
  position: sticky;
  top: 0px;
  cursor: default;
}

#ueberschrift {
  padding: 12px 0px;
}

main {
  margin: 20px;
}

.info-container {
  height: 30px;
  margin: auto;
  text-align: center;
}

.info-container .meldung {
  transition: 1s;
  border: 1px solid #b1b1b1;
  color: #b1b1b1;
  display: inline-block;
  padding: 5px;
  border-radius: 10px;
  visibility: hidden;
}

.listenelement ul {
  display: inline-block;
  border-bottom: 1px solid black;
  width: 100%;
  margin-top: 20px;
  padding: 8px 5px 0px 10px;
}

.listenelement ul li {
  list-style: none;
  text-align: center;
  cursor: pointer;
  margin: 0px;
}

.listenelement ul li a {
  text-decoration: none;
  float: left;
  min-width: 95%;
}

.pfeil {
  float: left;
  transition: 0.3s ease-out;
}

.eintragsname {
  width: 90%;
}

.eintrag-entfernen {
  background-color: darkred;
  text-align: center;
  float: right;
  outline: none;
  /* width: 10%; */
  border-radius: 10px;
  padding: 5px 10px;
}

@media screen and (max-width: 720px) {
  .eintragsname {
    width: 80%;
  }
  .eintrag-entfernen {
    width: 20%;
  }
}

.eintrag-entfernen a {
  color: white;
}

.aktiv,
ul:hover {
  background-color: #f1f1f1;
  transition: 0.2;
}
.speichern-button:hover,
.hinzufuegen:hover {
  transition: 0.2;
  box-shadow: 0 8px 16px 0 var(--shadow);
}

#element-hinzufuegen {
  margin-top: 20px;
}

.speichern-button,
.hinzufuegen {
  display: block;
  margin: auto;
  padding: 12px 10px;
  color: white;
  background-color: darkgreen;
  cursor: pointer;
  outline: none;
  border: none;
  border-radius: 10px;
}

.formular {
  max-height: 0px;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  width: 100%;
}

/* .speichern-button {
  display: block;
  background-color: greenyellow;
} */

.formular-gruppe {
  background-color: #f1f1f1;
  padding: 5px 20px;
}

.formular-gruppe input {
  appearance: textfield;
}

.formular-gruppe input::-webkit-outer-spin-button,
.formular-gruppe input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
