doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet', href='./stylesheets/style.css')
  title Artikel&uuml;bersicht
header
  h1#ueberschrift
    | Artikel&uuml;bersicht 
main
  .info-container
    .meldung
      p.nachricht
  #elemente
  #element-hinzufuegen
    button.hinzufuegen Hinzuf&uuml;gen
script(type='text/javascript', charset='UTF-8', src='/js/artikel.js')
script(type='text/javascript', charset='UTF-8', src='/socket.io/socket.io.js')
script(type='text/javascript', charset='UTF-8', src='./js/artikeluebersicht.js')
