doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet', href='./stylesheets/style.css')
  title Listen&uuml;bersicht
header
  h1#ueberschrift Listen&uuml;bersicht
main
  #elemente
    .listenelement
      ul
        li.eintragsname
          a(href='#') Name
        li.eintrag-entfernen
          a(href='#') L&ouml;schen
  #element-hinzufuegen
    button.hinzufuegen Hinzuf&uuml;gen